# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
#Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables

*.out
*.app
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.csproj.user

# User content
/Editor/WiwaEditor.exe
/Editor/Assets
/Editor/Wiwa.dll
/Editor/Library
imgui.ini

# VA config

/JSON/

# Temp
bin
bin-int
/.vs
Intermediates/
*.vsidx
*.lock
*.com%002Ffwlink%002F%003Flinkid%003D835884
Editor/.vs/AppAssembly/v17/.suo
Editor/.vs/AppAssembly/v17/.suo
*.pdb
*.ngfx-proj
